*{
	padding: 0;
	margin: 0;
}
body{
	background: url(../images/paun.jpg) no-repeat;
	background-size: cover;
	align-items: center;
	justify-content: center;
	display: flex;
	font-family: sans-serif;
}
h1 {
    align-self: center;
}

#login-container {
    position: relative;
	margin-top: 100px;
	width: 450px;
	height: auto;	
	border-radius: 5px;
}

.login_form{
	padding: 20px 40px;
}
.login_form .lab{
	font-size: 18px;
	color: #241a99;
	margin: 5px 0;
}
.login_form input{
	height: 40px;
	width: 350px;
	padding: 0 5px;
	font-size: 18px;
	outline: none;
	border: 1px solid rgb(192, 192, 192);
}
.login_form .lab1{
	margin-top: 30px;
}
.form-control {
    position: relative;
}
#one {
    position: absolute;
    right: 25px;
    bottom: 8px;
    color: darkgreen;
    font-weight: bold;
    font-size: 25px;
    display: none;
}
#oneX {
    position: absolute;
    right: 25px;
    bottom: 8px;
    color: red;
    font-weight: bold;
    font-size: 25px;
    display: none;
}
#two {
    position: absolute;
    right: 25px;
    bottom: 8px;
    color: darkgreen;
    font-weight: bold;
    font-size: 25px;
    display: none;
}
#twoX {
    position: absolute;
    right: 25px;
    bottom: 8px;
    color: red;
    font-weight: bold;
    font-size: 25px;
    display: none;
}
#sub {
    margin: 45px 0 30px 0;
	height: 45px;
	width: 365px;
	font-size: 20px;
	color: white;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	background: #b1b5dd;
	border-radius: 3px;
	border: 1px solid #3949AB;
	transition: .5s;
}
.login_form #sub:hover{
	background: #515580;
}
.login_form #user_error,
.login_form #user_error2,
.login_form #pass_error,
.login_form #pass_error2{
	margin-top: 5px;
	width: 345px;
	font-size: 18px;
	color: #C62828;
	background: rgba(255,0,0,0.1);
	text-align: center;
	padding: 5px 8px;
	border-radius: 3px;
	border: 1px solid #EF9A9A;
	display: none;
}
#successful {
    font-size: 2rem;
    color: rgb(136, 253, 187);
    display: none;
    text-align: center;
}